# --- APP CONFIG ---
MODE=LOCAL # LOCAL, DEV, or PROD

# --- POSTGRES (Inside Docker) ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin_pass_here
POSTGRES_DB=flight_db

# --- AUTH & SECURITY ---
# You can generate a key using: openssl rand -hex 32
SECRET_KEY=your_secret_key_for_auth
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ADMIN_SECRET_KEY=your_admin_secret_key

# --- MAIL (SMTP) ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_user
SMTP_PASS=your_app_specific_password

# --- REDIS ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- PAYMENTS (Yookassa) ---
YOOKASSA_SHOP_ID=your_id_for_yookassa
YOOKASSA_API_SECRET_KEY=your_api_secret_key_for_yookassa
YOOKASSA_RETURN_URL=http://localhost:8000/

# --- DATABASE URL (SQLAlchemy) ---
DATABASE_URL=postgresql+asyncpg://admin:admin_password_here@db:5432/flight_db

# --- Ngrok URL---
BASE_URL=your_url_from_ngrok