# --- TEST CONFIG ---
MODE=TEST

POSTGRES_USER=admin
POSTGRES_PASSWORD=your_test_password
POSTGRES_DB=flight_test_db

SECRET_KEY=your_test_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

DATABASE_URL=postgresql+asyncpg://admin:your_test_password@localhost:5433/flight_test_db